<h1 class="text-xl font-bold mb-6 text-white" >
    Lista de la compra
</h1>

<div *ngIf="juegosCarrito.length === 0" class="text-white">
    No hay juegos en el carrito
</div>

<!-- Lista -->
<div *ngIf="juegosCarrito.length > 0" class="flex flex-col divide-y">

    <div *ngFor="let juego of juegosCarrito"
        class="flex items-center gap-6 p-4  border-l-zinc-950 border rounded-lg shadow-md">

        <!-- id -->
        <div class="w-8 text-center font-semibold text-white">
            <p>ID {{ juego.id }}</p>
        </div>

        <!-- imagen -->
        <div class="w-10 h-13 flex-shrink-0">
            <img [src]="juego.imagen" alt="{{ juego.nombre }}" class="w-full h-full object-cover rounded border">
        </div>

        <!-- nombre -->
        <div class="flex-1 font-semibold text-white">
            {{ juego.nombre }}
        </div>

        <!-- precio -->
        <div class="text-green-600 font-medium">
            <p>Precio: {{ juego.precio | currency:'COP':'symbol':'1.0-0' }}</p>
        </div>

    </div>
</div>

<!-- total -->
<div *ngIf="juegosCarrito.length > 0" class="flex justify-end mt-6 p-6 text-lg font-bold border-t">

    <span class="mr-4 text-white">Suma:</span>
    <span class="text-green-700">
        {{ total | currency:'COP':'symbol':'1.0-0' }}
    </span>
</div>